@use '../../../styles/abstracts/' as *;

.builder{
display:grid;
grid-template-columns:320px 1fr;
gap:20px;
height:90vh;
}

.sidebar{
background:#f0f0f0;
padding:10px;
overflow-y:auto;
}

.player-element{
background:white;
border-radius:5px;
padding:10px;
margin-bottom:10px;
cursor:grab;
display:flex;
align-items:center;
gap:10px;
}

.player-on-pitch{
display:flex;
align-items:center;
gap:5px;
}

.formation-selector{
display:flex;
gap:10px;
padding:10px;
background:#f0f0f0;
border-radius:5px;
align-items:center;
justify-content: flex-end;
}

.pitch{
position:relative;
background: url('../../../assets/pitch.png') no-repeat bottom center;
background-size: cover;
min-height:700px;
max-height:900px;
padding:20px;
margin: 20px;
}

.slot{
transform:translate(-50%, -50%);
display:flex;
align-items:center;
justify-content:center;
position:absolute;
}

.empty-slot{
font-weight:700;
display:flex;
align-items:center;
justify-content:center;
width:90px;
height:90px;
background:rgba(255,255,255,0.5);
border:2px dashed rgba(255,255,255,0.8);
border-radius:50%;
}

.cdk-drag-preview {
  box-sizing: border-box;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-color: $supra-blue;
  width: 50px;
  height: 50px;
}