<div class="builder">

    <div
    class="player-pool"
    cdkDropList
    id="playersList"
    [cdkDropListData]="players()"
    [cdkDropListConnectedTo]="slotIds()">
    <h2>Joueurs non-utilisés</h2>
    @for (player of players(); track player.id) {
      @if (!isPlayerUsed(player)) {
      <div
      cdkDrag
      [cdkDragData]="player"
      class="player-element">
      {{ player.number }} - {{ player.display_name }}
      <div *cdkDragPreview class="cdk-drag-preview">
        {{ player.number }}
      </div>
      <div *cdkDragPlaceholder class="player-placeholder"></div>
      </div>
      }
    }
    </div>

    <div class="pitch-section">
      <div class="formation-selector">
        <label for="formation">Formation:</label>
          <select (change)="changeFormation($event)">
            <option *ngFor="let f of formations" [value]="f.name">
            {{ f.name }}
            </option>
          </select>
        <button (click)="resetLineup()">Reset Lineup</button>
      </div>
        <div class="pitch-color">
        <div class="pitch">
          <div
          *ngFor="let slot of selectedFormation().slots"
          class="slot"
          cdkDropList
          [id]="slot.key"
          [cdkDropListConnectedTo]="allDropLists()"
          (cdkDropListEntered)="previewSlot($event, slot.key)"
          (cdkDropListExited)="clearPreview()"
          (cdkDropListDropped)="dropPlayer($event, slot.key)"
          [style.left.%]="slot.x"
          [style.top.%]="slot.y">

          @if (previewingSlot() === slot.key && previewPlayer(); as p) {
            <app-player-on-pitch [player]="p"></app-player-on-pitch>
          } @else if (lineup()[slot.key]; as currentPlayer) {
            <div cdkDrag [cdkDragData]="currentPlayer">
              <div *cdkDragPreview class="cdk-drag-preview">
                {{ currentPlayer.number }}
              </div>
              <div *cdkDragPlaceholder class="player-placeholder"></div>
              <app-player-on-pitch
                [player]="currentPlayer"
                (remove)="deleteFromSlot(slot.key)">
              </app-player-on-pitch>
            </div>
          } @else {
            <div class="empty-slot" (click)="openSearch(slot)">
              {{ slot.label }}
            </div>
          }

          </div>
          <app-player-search
              [visible]="searchOpen()"
              [players]="availablePlayers()"
              [slotKey]="selectedSlot()?.key || ''"
              [slotLabel]="selectedSlot()?.label || ''"
              (close)="searchOpen.set(false)"
              (selectPlayer)="assignPlayerFromSearch($event)">
          </app-player-search>
        </div>
      </div>
    </div>

</div>