<div class="pitch-container">

  <div class="pitch">

    <div class="half-line"></div>
    <div class="center-circle"></div>
    <div class="penalty-area top"></div>
    <div class="penalty-area bottom"></div>

    @for (slot of formation.slots; track slot.key) {

      <div
        class="slot"
        [style.left.%]="slot.x"
        [style.top.%]="slot.y"
      >

        @if (lineup[slot.key]; as player) {

            <div class="player-wrapper">
              <app-player-on-pitch
                [matchPlayer]="player"
                [editable]="editable"
                (remove)="removePlayer.emit(slot.key)"
                (makeCaptain)="setCaptain.emit(slot.key)"
              ></app-player-on-pitch>
            </div>

        } @else {

          <button
            *ngIf="editable"
            class="empty-slot"
            (click)="slotClick.emit(slot)"
          >
            +
          </button>

        }

      </div>

    }
  </div>
</div>