$supra-blue: #031747;
$supra-red: #e53330;

$modify-blue: #2563eb;
$modify-blue-hover: #4580ff;

$delete-red: #dc2626;
$delete-red-hover: #ff3232;

$error-color: #ca1d1d;
$success-color: #0da04f;
$warning-color: #eb9809;