$supra-blue: #031747;
$supra-red: #e53330;

$cfmontreal-blue: #003da6;
$cfmontreal-gray: #c1c5c8;

$roses-blue: #647dff;
$roses-gold: #d1ae6f;
$roses-red: #ff1b0e;
$roses-black: #0c0516;

$modify-blue: #2563eb;
$modify-blue-hover: #4580ff;

$delete-red: #dc2626;
$delete-red-hover: #ff3232;

$error-color: #ca1d1d;
$success-color: #0da04f;
$warning-color: #eb9809;