@use '../../../styles/abstracts/' as *;

.player-on-pitch {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translate(0, -5px) scale(1.15);

    .remove-btn {
      opacity: 1;
    }
  }
}

.photo-wrapper {
  border-radius: 10px 10px 0 0;
  background: linear-gradient(0deg, rgb(216, 188, 27) 0%, rgba(255,255,255,0) 80%);
  display: inline-block;
  height: 120px;
  width: 120px;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.player-photo {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(1.4);

/* filter: drop-shadow(1px 1px 1px white) 
        drop-shadow(-1px -1px 1px white) 
        drop-shadow(1px -1px 1px white) 
        drop-shadow(-1px 1px 1px white); */
}

.name {
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  background: $supra-blue;
  color: white;
  padding: 6px 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0 0 10px 10px;
  border-bottom: 3px $supra-red solid;
  box-shadow: 0 3px 0 white;
}

.remove-btn {
  opacity: 0;
  position: absolute;
  top: 10px;
  right: -12px;
  background: $supra-red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  &:hover {
    opacity: 1;
    cursor: pointer;
    background: darken($supra-red, 10%);
  }

  &:active {
    background: darken($supra-red, 20%);
  }
}