<div class="player-card">
  <div class="player-number">
    {{ player.number }}
  </div>
  <div class="photo-wrapper">
    @if (player.photo_url) {
      <img
        class="player-photo"
        [src]="player.photo_url"
        [alt]="player.display_name"
      />
    } @else {
      <img
        class="player-photo"
        src="../../../assets/genericPlayer.png"
        [alt]="player.display_name"
      />
    }
  </div>

  <div class="player-header">
    <div class="display-name">{{ player.display_name }}</div>

    <div class="full-name">
      {{ player.first_name || '' }} {{ player.last_name || '' }}
    </div>

    <div class="badges">
      <span class="badge best-position">
        {{ player.best_position || 'N/A' }}
      </span>

      @for (position of player.positions; track position) {
        @if (position !== player.best_position) {
          <span class="badge position">{{ position }}</span>
        }
      }

      <span class="badge age">
        @if (player.date_of_birth) {
          {{ calculateAge(player.date_of_birth) }} ans
        } @else {
          Age inconnu
        }
      </span>
    </div>
  </div>

  @if (showActions) {

    <div class="actions">

      <a
        [routerLink]="['/admin/players', player.id, 'edit']"
        class="btn edit"
      >
        Modifier
      </a>

      <button
        type="button"
        class="btn delete"
        (click)="onDelete(player.id)"
      >
        Supprimer
      </button>

    </div>

  }
</div>