<form [formGroup]="form" class="form-grid">

  <label class="champ">
    Prénom
    <input type="text" formControlName="first_name">
  </label>

  <label class="champ">
    Nom
    <input type="text" formControlName="last_name">
  </label>

  <label class="champ">
    Nom affiché
    <input type="text" formControlName="display_name">
  </label>

  <label class="champ">
    Numéro
    <input type="number" min=1 max=99 oninput="if (this.value.length > 2) this.value = this.value.slice(0, 2);" formControlName="number">
  </label>

  <label class="champ">
    Poste
    <app-position-picker
      [favoritePosition]="form.get('best_position')?.value"
      [positionsSelected]="form.get('positions')?.value || []"

      (favoritePositionChange)="onFavoritePositionChange($event)"
      (positionsSelectedChange)="onPositionsSelectedChange($event)"
    ></app-position-picker>
  </label>

  <label class="champ">
    Nationalité
    <input type="text" formControlName="nationality">
  </label>

  <label class="champ">
    Date de naissance
    <input type="date" formControlName="date_of_birth">
  </label>

  <label class="champ">
    Pied fort
    <select formControlName="best_foot">
        <option value="">Choisir</option>
        <option value="left">Gauche</option>
        <option value="right">Droit</option>
    </select>
  </label>

  <label class="champ">
    Taille (cm)
    <input type="number" min=50 max=250 formControlName="height_cm">
  </label>

  <label
    class="upload-box"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
  >
    Drop image here or click to upload

    <input
      type="file"
      accept="image/*"
      (change)="onFileSelected($event)"
    >
  </label>

  <div class="image-preview" *ngIf="imagePreview">
    <p>Aperçu de l'image sélectionnée :</p>
    <img [src]="imagePreview" alt="Aperçu de l'image" class="preview-img">
  </div>

  <label class="checkbox-label">
    Actif
    <input type="checkbox" formControlName="active">
  </label>

  <button class="button" type="button" (click)="submit()" [disabled]="loading">
    {{ mode === 'create' ? 'Créer' : 'Modifier' }}
  </button>

</form>