<div class="pitch-section">

  <div class="formation-selector">
    <label for="formation">Formation:</label>
      <select id="formation" name="formation" (change)="changeFormation($event)">
        <option *ngFor="let f of formations" [value]="f.name">
        {{ f.name }}
        </option>
      </select>
    <button (click)="resetLineup()">Reset Lineup</button>
  </div>

  <div class="pitch-color">
    <div class="pitch">
      <div
      *ngFor="let slot of selectedFormation().slots"
      class="slot"
      [id]="slot.key"
      [style.left.%]="slot.x"
      [style.top.%]="slot.y">

      @if (previewingSlot() === slot.key && previewPlayer(); as p) {
        <app-player-on-pitch [player]="p"></app-player-on-pitch>
      } @else if (lineup()[slot.key]; as currentPlayer) {
        <div>
          <div class="player-placeholder"></div>
          <app-player-on-pitch
            [player]="currentPlayer"
            (remove)="deleteFromSlot(slot.key)">
          </app-player-on-pitch>
        </div>
      } @else {
        <div class="empty-slot" (click)="openSearch(slot)">
          {{ slot.label }}
        </div>
      }

      </div>
      <app-player-search
          [visible]="searchOpen()"
          [players]="availablePlayers()"
          [slotLabel]="selectedSlot()?.label || ''"
          (close)="searchOpen.set(false)"
          (selectPlayer)="assignPlayerFromSearch($event)">
      </app-player-search>
    </div>
  </div>

</div>

<div class="bench-section">
  <h3>Remplaçants</h3>
  <div class="bench-slots">
    @for (slot of benchFormation().slots; track slot.key) {
      <div class="bench-slot">
        
        @if (previewingSlot() === slot.key && previewPlayer(); as p) {
          <app-player-on-pitch [player]="p"></app-player-on-pitch>
        } @else if (lineup()[slot.key]; as currentPlayer) {
          <div>
            <div class="player-placeholder"></div>
            <app-player-on-pitch
              [player]="currentPlayer"
              (remove)="deleteFromSlot(slot.key)">
            </app-player-on-pitch>
          </div>
        } @else {
          <div class="empty-slot bench-empty" (click)="openSearch(slot)">
            + {{ slot.label }}
          </div>
        }

      </div>
    }
  </div>
</div>