<nav class="navbar">
  <div class="navbar-top">
    <div class="logo">FC SUPRA</div>

    <button class="menu-btn" (click)="menuOpen = !menuOpen">
      ☰
    </button>

    <div class="desktop-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
      <a routerLink="/matches" routerLinkActive="active">Matches</a>
      <a routerLink="/players" routerLinkActive="active">Players</a>
      <a routerLink="/standings" routerLinkActive="active">Standings</a>
      <a routerLink="/admin" routerLinkActive="active">Admin</a>

      @if (!user()) {
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/register" routerLinkActive="active">Register</a>
      }

      @if (user()) {
        <a routerLink="/profile" routerLinkActive="active" class="profile-link">
          {{ username() }}
        </a>
        <button class="logout-btn" type="button" (click)="logout()">Déconnexion</button>
      }
    </div>
  </div>

  @if (menuOpen) {
    <div class="mobile-menu">
      <a routerLink="/" (click)="menuOpen=false">Home</a>
      <a routerLink="/matches" (click)="menuOpen=false">Matches</a>
      <a routerLink="/players" (click)="menuOpen=false">Players</a>
      <a routerLink="/standings" (click)="menuOpen=false">Standings</a>
      <a routerLink="/admin" (click)="menuOpen=false">Admin</a>

      @if (!user()) {
        <a routerLink="/login" (click)="menuOpen=false">Login</a>
        <a routerLink="/register" (click)="menuOpen=false">Register</a>
      }

      @if (user()) {
        <a routerLink="/profile" (click)="menuOpen=false">Profil</a>
        <button type="button" (click)="logout(); menuOpen=false">Déconnexion</button>
      }
    </div>
  }
</nav>